<section id="about" class="about">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>About</h2>
      <p>Who we are</p>
    </div>

    <div class="row content" data-aos="fade-up">
      <div class="col-lg-6">
        <p>
          With Astra we aim to build a platform where students and adults alike
          will be able to dive into the field they are intrested in.
        </p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i> Understand more about the
            field.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Provide a road-map to learn the
            about the field.
          </li>
          <li>
            <i class="ri-check-double-line"></i> Show the current standing of
            the field in the current market.
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          The data which is to be provided will be extracted for the research
          and experiences that we as students have been through. With the help
          of our website, we hope to guide the students onto the right and the
          systematic part which will help them reach their potential.
        </p>
        <a href="#" class="btn-learn-more">Learn More</a>
      </div>
    </div>
  </div>
</section>
