<section id="faq" class="faq">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>F.A.Q</h2>
        <p>Frequently Asked Questions</p>
      </div>

      <ul class="faq-list">

        <li>
          <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Is career planning really that important? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
              Failing to prepare is preparing to fail: it might be an overused adage, but there’s a tremendous amount of truth in it—especially when it comes to designing a career. A career plan isn’t simply a list of companies you’d like to work at, but a detailed game plan that includes whatever you have to do to get to where you want to go in your career.</br>
              It might involve going back to uni to complete a Masters, volunteering for a charity, doing pro bono work or going travelling for a year. Your career plan should also be dynamic and updated to take into account any new opportunities that come your way. 
            </br>For example, your time travelling might introduce you to a new skill set or passion you want to work into your plan.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How to select my course & career? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Career planning is a long process. It does not work in such a way that students choose any subject, any stream and suddenly, they start making career decisions.</br> 
              Planning itself is a synonym for creating well-thought and research proposals. Hence, career planning is totally dependent on stream, course, and subject selection. </br>
              Once,  students ask you how to choose a course and career, ask them to list down their likes, dislikes, strengths, weaknesses, and other personality traits. Current academic performance, future goals, etc also play an important role in course & career selection. </br>
              You can also take up Course, Subject, Career Selector Tests to help your student make the right decision. These are scientific & personalized tools for students to determine the best-fit career, course, combination of subjects etc.  </br>   
              Through a deep analysis of current academic performance, individual strengths, and future career dreams, take a student from confusion to clarity.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What is the current state of the job market in my field? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Examining career prospects and predicted demand for a particular field can help you increase your chances of landing a job after graduation. Career counsellors have access to materials that might assist you in making decisions about your career.</br> 
              You might also inquire about the types of jobs that your current major prepares you for. Majoring in a given subject can sometimes provide benefits in other fields.</br>
              A psychology degree, for example, can aid in the development of communication and interpersonal skills, which can be transferred to other jobs. Even if you are not considering a job shift, knowing how particular professions are trending can be beneficial. </br>
              Using employment outlook statistics to assist choose a high-demand career is a good idea.
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq4" class="collapsed question"> What tools are used to identify one’s interests, strengths, weaknesses, etc? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p>
              This is one of the most often requested questions in career counselling. Kids in this modern day are completely engrossed with technology.</br> 
              They look for technical components in everything, including job counselling, in addition to their daily life. As a result, as a career counsellor, you must employ 21st-century techniques and technologies to assist them efficiently and satisfactorily.</br>
              Along with the happiness of your clients, you'll need tools to help you get through the process. It's easier to learn about clients, their mindsets, capabilities, and more with the help of technology. </br>
              Not only can you search for different job possibilities, courses, colleges, and countries based on their interests and skills, but you can also search for different career options, courses, colleges, and countries based on their interests and capabilities.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">What are transferable skills and how do I acquire them? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
            <p>
              Regardless of which degree you pursue, you will get a mix of technical and transferable abilities. Technical abilities may include laboratory methods and information obtained in lectures and via study if you study Biochemistry.</br>
              Analytical and problem-solving talents are examples of transferable skills. If you choose English as your major, you may develop good communication abilities. </br>
              Employers looking for the ideal job candidate value transferable abilities more than hard skills, as we discussed in our last blog. You may start identifying and developing these crucial abilities in yourself by being proactive about getting professional assistance and the suitable career development programme.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">How much money will I earn? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq6" class="collapse" data-bs-parent=".faq-list">
            <p>
              The topic of earning potential will be at the forefront of many individuals concerns. There are numerous elements that determine the amount of money you make in your first job and subsequent jobs. </br>
              The location of the work, the size of the company, the level of position and qualifications required for the job, as well as the industry you're applying to, are all key deciding considerations. For average wage estimates by industry, go to the Reed website. </br>
              Don't let money determine your career path: it's crucial to start someplace and remember that you have the ability to advance and boost your earning potential over time.
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section>