<section id="features" class="features">
    <div class="container">

      <ul class="nav nav-tabs row d-flex">
        <li class="nav-item col-3" data-aos="zoom-in">
          <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
            <i class="ri-gps-line"></i>
            <h4 class="d-none d-lg-block">Why is Career Guidance Important?</h4>
          </a>
        </li>
        <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
          <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
            <i class="ri-body-scan-line"></i>
            <h4 class="d-none d-lg-block">Best way to excel in a field</h4>
          </a>
        </li>
        <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
          <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
            <i class="ri-sun-line"></i>
            <h4 class="d-none d-lg-block">Why is learning current market Important?</h4>
          </a>
        </li>
        <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
          <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
            <i class="ri-store-line"></i>
            <h4 class="d-none d-lg-block">How is a road-map going to help?</h4>
          </a>
        </li>
      </ul>

      <div class="tab-content" data-aos="fade-up">
        <div class="tab-pane active show" id="tab-1">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <h3>How we provide career guidance </h3>
              <p class="fst-italic">
                Career guidance helps students to select the right kind of job oriented courses which will help them to take their career in the right direction. 
                The career guidance is provided so that individual get better social standing which goes well with their capabilities, skills and interest.
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> We provide career guidance keeping the interest of the students into consideration.</li>
                <li><i class="ri-check-double-line"></i> Under the guidance of us one can achieve their important goals of life.</li>
                <li><i class="ri-check-double-line"></i> We conduct various career tests which help them to identify their field of interest, skills and capabilities.</li>
              </ul>
              <p>
                The careers inspection is conducted by us will also help the students to select the rights kind of job which will suit their personality.
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="assets/img/features-1.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab-2">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <p>
                  Your first task is to define success for yourself. Do not accept anyone else’s definition - only yours.
                  Once you know what it will take for you to feel successful, then you are ready to think about what field of work will best assist you to accomplish the steps leading to your success.
                  There is no single right way to be successful. What works for you might not work for someone else. 
                </p>
                <p class="fst-italic">
                  But there are some basic steps you can follow that can improve your chances of being successful in your field of intrest.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>Build a Growth Mindset </li>
                  <li><i class="ri-check-double-line"></i>Believe that your efforts matter </li>
                  <li><i class="ri-check-double-line"></i>Learn new skills </li>
                  <li><i class="ri-check-double-line"></i>Improve your efforts matter </li>
                  <li><i class="ri-check-double-line"></i>Listning to others </li>
                  <li><i class="ri-check-double-line"></i>Develop Mental Toughness </li>
                  <li><i class="ri-check-double-line"></i>Believe in yourself </li>
                  <li><i class="ri-check-double-line"></i>Keep trying </li>
                </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="assets/img/features-2.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab-3">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <p>
                Marketing allows the opportunity to examine that process alongside the intricacies of design, promotion, and branding.

                Consumers make purchases based on how products and services are packaged. It is not a decision based on truth, but rather the perception of truth. The ability to influence decision and buying habits is a useful skill, even outside of a conventional marketing role.
              </p>
              <li><i class="ri-check-double-line"></i> Marketing teaches valuable skills in data interpretation.</li>
                <li><i class="ri-check-double-line"></i> Market trends will help you analyse what fields whill have more yeild.</li>
                <li><i class="ri-check-double-line"></i> There are always ups and downs, so the best thing to do is to be prepared for everythying.</li>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="assets/img/features-3.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab-4">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <p>
                A roadmap is a strategic plan that defines a goal or desired outcome and includes the major steps or milestones needed to reach it.

                It also serves as a communication tool, a high-level document that helps articulate strategic thinking—the why—behind both the goal and the plan for getting there.</br>
                the key characteristics of a roadmap are that it is:
                  <li><i class="ri-check-double-line"></i>A high-level plan, defining an overarching strategic objective </li>
                  <li><i class="ri-check-double-line"></i>Capturing the major steps planned for achieving that objective.</li>
                  <li><i class="ri-check-double-line"></i>A communication tool that helps communicate the product’s strategy. </li>
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="assets/img/features-4.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>