<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Astra</span></h2>
          <p class="animate__animated fanimate__adeInUp">Astra is Astute Strategical Transparent Relational Analysis based approach towards modern-day guidance and smart interest approach for a stronger career, based on once interest. We solely created Astra with considering interest/hobbies in different types of activities such as guiding students towards colleges and universities, supporting them to register with their courses, providing full guidance in getting the information related to have a better future endeavor. </p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Willkommen bei Astra</h2>
          <p class="animate__animated animate__fadeInUp">Astra ist ein kluger strategischer transparenter Beziehungsanalyse-basierter Ansatz für moderne Beratung und ein intelligenter Interessenansatz für eine stärkere Karriere, basierend auf einmaligem Interesse. Wir haben Astra ausschließlich unter Berücksichtigung von Interessen/Hobbys an verschiedenen Arten von Aktivitäten gegründet, wie z.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Bienvenue chez ASTRA</h2>
          <p class="animate__animated animate__fadeInUp">Astra est une approche basée sur une analyse relationnelle transparente stratégique astucieuse vers une orientation moderne et une approche d'intérêt intelligent pour une carrière plus solide, basée sur un intérêt unique. Nous avons uniquement créé Astra en tenant compte de l'intérêt / des passe-temps pour différents types d'activités, telles que guider les étudiants vers les collèges et les universités, les aider à s'inscrire à leurs cours, fournir des conseils complets pour obtenir les informations relatives à de meilleurs projets futurs.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section>