<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Astra Minor Project</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/astralogo.jpg" rel="astralogo">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Astra</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Astra</span></h2>
          <p class="animate__animated fanimate__adeInUp">Astra is Astute Strategical Transparent Relational Analysis based approach towards modern-day guidance and smart interest approach for a stronger career, based on once interest. We solely created Astra with considering interest/hobbies in different types of activities such as guiding students towards colleges and universities, supporting them to register with their courses, providing full guidance in getting the information related to have a better future endeavor. </p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Willkommen bei Astra</h2>
          <p class="animate__animated animate__fadeInUp">Astra ist ein kluger strategischer transparenter Beziehungsanalyse-basierter Ansatz für moderne Beratung und ein intelligenter Interessenansatz für eine stärkere Karriere, basierend auf einmaligem Interesse. Wir haben Astra ausschließlich unter Berücksichtigung von Interessen/Hobbys an verschiedenen Arten von Aktivitäten gegründet, wie z.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Bienvenue chez ASTRA</h2>
          <p class="animate__animated animate__fadeInUp">Astra est une approche basée sur une analyse relationnelle transparente stratégique astucieuse vers une orientation moderne et une approche d'intérêt intelligent pour une carrière plus solide, basée sur un intérêt unique. Nous avons uniquement créé Astra en tenant compte de l'intérêt / des passe-temps pour différents types d'activités, telles que guider les étudiants vers les collèges et les universités, les aider à s'inscrire à leurs cours, fournir des conseils complets pour obtenir les informations relatives à de meilleurs projets futurs.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
          <p>Who we are</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              With Astra we aim to build a platform where students and adults alike will be able to dive into the field they are intrested in.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Understand more about the field.</li>
              <li><i class="ri-check-double-line"></i> Provide a road-map to learn the about the field.</li>
              <li><i class="ri-check-double-line"></i> Show the current standing of the field in the current market.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              The data which is to be provided will be extracted for the research and experiences that we as students have been through. 
              With the help of our website, we hope to guide the students onto the right and the systematic part which will help them reach their potential.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3" data-aos="zoom-in">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Why is Career Guidance Important?</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">Best way to excel in a field</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Why is learning current market Important?</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">How is a road-map going to help?</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content" data-aos="fade-up">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>How we provide career guidance </h3>
                <p class="fst-italic">
                  Career guidance helps students to select the right kind of job oriented courses which will help them to take their career in the right direction. 
                  The career guidance is provided so that individual get better social standing which goes well with their capabilities, skills and interest.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> We provide career guidance keeping the interest of the students into consideration.</li>
                  <li><i class="ri-check-double-line"></i> Under the guidance of us one can achieve their important goals of life.</li>
                  <li><i class="ri-check-double-line"></i> We conduct various career tests which help them to identify their field of interest, skills and capabilities.</li>
                </ul>
                <p>
                  The careers inspection is conducted by us will also help the students to select the rights kind of job which will suit their personality.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/features-1.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <p>
                    Your first task is to define success for yourself. Do not accept anyone else’s definition - only yours.
                    Once you know what it will take for you to feel successful, then you are ready to think about what field of work will best assist you to accomplish the steps leading to your success.
                    There is no single right way to be successful. What works for you might not work for someone else. 
                  </p>
                  <p class="fst-italic">
                    But there are some basic steps you can follow that can improve your chances of being successful in your field of intrest.
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i>Build a Growth Mindset </li>
                    <li><i class="ri-check-double-line"></i>Believe that your efforts matter </li>
                    <li><i class="ri-check-double-line"></i>Learn new skills </li>
                    <li><i class="ri-check-double-line"></i>Improve your efforts matter </li>
                    <li><i class="ri-check-double-line"></i>Listning to others </li>
                    <li><i class="ri-check-double-line"></i>Develop Mental Toughness </li>
                    <li><i class="ri-check-double-line"></i>Believe in yourself </li>
                    <li><i class="ri-check-double-line"></i>Keep trying </li>
                  </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/features-2.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <p>
                  Marketing allows the opportunity to examine that process alongside the intricacies of design, promotion, and branding.

                  Consumers make purchases based on how products and services are packaged. It is not a decision based on truth, but rather the perception of truth. The ability to influence decision and buying habits is a useful skill, even outside of a conventional marketing role.
                </p>
                <li><i class="ri-check-double-line"></i> Marketing teaches valuable skills in data interpretation.</li>
                  <li><i class="ri-check-double-line"></i> Market trends will help you analyse what fields whill have more yeild.</li>
                  <li><i class="ri-check-double-line"></i> There are always ups and downs, so the best thing to do is to be prepared for everythying.</li>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/features-3.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <p>
                  A roadmap is a strategic plan that defines a goal or desired outcome and includes the major steps or milestones needed to reach it.

                  It also serves as a communication tool, a high-level document that helps articulate strategic thinking—the why—behind both the goal and the plan for getting there.</br>
                  the key characteristics of a roadmap are that it is:
                    <li><i class="ri-check-double-line"></i>A high-level plan, defining an overarching strategic objective </li>
                    <li><i class="ri-check-double-line"></i>Capturing the major steps planned for achieving that objective.</li>
                    <li><i class="ri-check-double-line"></i>A communication tool that helps communicate the product’s strategy. </li>
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/features-4.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Services</h2>
          <p>What we do offer</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left">
              <div class="icon"><i class="bi bi-binoculars" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="DS.html">Data Science</a></h4>
              <p class="description">A dive into the Data science field with detailed analysis of current market.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
              <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="Esports.html">Esports</a></h4>
              <p class="description">A deeper look into the Gaming industry is its potential scope in the future.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="Business.html">Business Studies</a></h4>
              <p class="description">A magnified look into the different fields and roadmaps in Business Studies.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Is career planning really that important? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Failing to prepare is preparing to fail: it might be an overused adage, but there’s a tremendous amount of truth in it—especially when it comes to designing a career. A career plan isn’t simply a list of companies you’d like to work at, but a detailed game plan that includes whatever you have to do to get to where you want to go in your career.</br>
                It might involve going back to uni to complete a Masters, volunteering for a charity, doing pro bono work or going travelling for a year. Your career plan should also be dynamic and updated to take into account any new opportunities that come your way. 
              </br>For example, your time travelling might introduce you to a new skill set or passion you want to work into your plan.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How to select my course & career? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Career planning is a long process. It does not work in such a way that students choose any subject, any stream and suddenly, they start making career decisions.</br> 
                Planning itself is a synonym for creating well-thought and research proposals. Hence, career planning is totally dependent on stream, course, and subject selection. </br>
                Once,  students ask you how to choose a course and career, ask them to list down their likes, dislikes, strengths, weaknesses, and other personality traits. Current academic performance, future goals, etc also play an important role in course & career selection. </br>
                You can also take up Course, Subject, Career Selector Tests to help your student make the right decision. These are scientific & personalized tools for students to determine the best-fit career, course, combination of subjects etc.  </br>   
                Through a deep analysis of current academic performance, individual strengths, and future career dreams, take a student from confusion to clarity.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What is the current state of the job market in my field? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Examining career prospects and predicted demand for a particular field can help you increase your chances of landing a job after graduation. Career counsellors have access to materials that might assist you in making decisions about your career.</br> 
                You might also inquire about the types of jobs that your current major prepares you for. Majoring in a given subject can sometimes provide benefits in other fields.</br>
                A psychology degree, for example, can aid in the development of communication and interpersonal skills, which can be transferred to other jobs. Even if you are not considering a job shift, knowing how particular professions are trending can be beneficial. </br>
                Using employment outlook statistics to assist choose a high-demand career is a good idea.
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question"> What tools are used to identify one’s interests, strengths, weaknesses, etc? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                This is one of the most often requested questions in career counselling. Kids in this modern day are completely engrossed with technology.</br> 
                They look for technical components in everything, including job counselling, in addition to their daily life. As a result, as a career counsellor, you must employ 21st-century techniques and technologies to assist them efficiently and satisfactorily.</br>
                Along with the happiness of your clients, you'll need tools to help you get through the process. It's easier to learn about clients, their mindsets, capabilities, and more with the help of technology. </br>
                Not only can you search for different job possibilities, courses, colleges, and countries based on their interests and skills, but you can also search for different career options, courses, colleges, and countries based on their interests and capabilities.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">What are transferable skills and how do I acquire them? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Regardless of which degree you pursue, you will get a mix of technical and transferable abilities. Technical abilities may include laboratory methods and information obtained in lectures and via study if you study Biochemistry.</br>
                Analytical and problem-solving talents are examples of transferable skills. If you choose English as your major, you may develop good communication abilities. </br>
                Employers looking for the ideal job candidate value transferable abilities more than hard skills, as we discussed in our last blog. You may start identifying and developing these crucial abilities in yourself by being proactive about getting professional assistance and the suitable career development programme.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">How much money will I earn? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                The topic of earning potential will be at the forefront of many individuals concerns. There are numerous elements that determine the amount of money you make in your first job and subsequent jobs. </br>
                The location of the work, the size of the company, the level of position and qualifications required for the job, as well as the industry you're applying to, are all key deciding considerations. For average wage estimates by industry, go to the Reed website. </br>
                Don't let money determine your career path: it's crucial to start someplace and remember that you have the ability to advance and boost your earning potential over time.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Team</h2>
          <p>Our Hardworking Team</p>
        </div>

          <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Tanmaiy Reddy Arikatla</h4>
                <span>Project Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/team/team-2.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Adeep Sri Narayana</h4>
                <span>Project Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/team/team-3.png" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Manvi Khatri</h4>
                <span>Project Administrator</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>SRM University Delhi NCR</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>astra@gmil.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 89435 64343</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Astra</h3>
      <p>Phrase</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Astra</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>