<section id="services" class="services">
  <div class="container">
    <div class="section-title" data-aos="zoom-out">
      <h2>Services</h2>
      <p>What we do offer</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-box" data-aos="zoom-in-left">
          <div class="icon">
            <i class="bi bi-binoculars" style="color: #ff689b"></i>
          </div>
          <h4 class="title"><a href="DS.html">Data Science</a></h4>
          <p class="description">
            A dive into the Data science field with detailed analysis of current
            market.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
          <div class="icon">
            <i class="bi bi-globe" style="color: #d6ff22"></i>
          </div>
          <h4 class="title"><a href="Esports.html">Esports</a></h4>
          <p class="description">
            A deeper look into the Gaming industry is its potential scope in the
            future.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="icon-box" data-aos="zoom-in-left">
          <div class="icon">
            <i class="bi bi-briefcase" style="color: #ff689b"></i>
          </div>
          <h4 class="title"><a href="Business.html">Business Studies</a></h4>
          <p class="description">
            A magnified look into the different fields and roadmaps in Business
            Studies.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
